networks:
  proxy:
    external: true

services:
  app:
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile
    networks:
      - proxy
    labels:
      - "traefik.enable=true"

      - "traefik.http.routers.ohot-minimum.rule=Host(`ohot-minimum-test.ru`)"
      - "traefik.http.routers.ohot-minimum.entrypoints=websecure"
      - "traefik.http.routers.ohot-minimum.tls.certresolver=letsencrypt"
      - "traefik.http.services.ohot-minimum.loadbalancer.server.port=80"

    environment:
      - TZ=Europe/Moscow
    volumes:
      - ./logs:/var/log/nginx
    restart: always
