@font-face {
  font-family: 'Bitter';
  src: url('@assets/fonts/Bitter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter';
  src: url('@assets/fonts/Bitter-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter';
  src: url('@assets/fonts/Bitter-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Bitter';
  src: url('@assets/fonts/Bitter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}